<!--The content below is only a placeholder and can be replaced.-->
<div>
  <p> AutoComplete </p>
  <ngs-autocomplete [control]="group.controls.autoCtrl" [template]="template" label="State" [data]="data" filterColumnName="name"></ngs-autocomplete>
  <p>TextBox</p>
  <ngs-textbox label="TextBox" [control]="group.controls.textboxCtrl"></ngs-textbox>
  <p>Email</p>
  <ngs-textbox label="Email" [control]="group.controls.emailFormCtrl"></ngs-textbox>
  <p>Telephone</p>
  <ngs-textbox [type]="textBoxType" label="Telephone" [control]="group.controls.telPhoneCtrl" inputPrefix="+91"></ngs-textbox>
  <p> CheckBox</p>
  <ngs-checkbox label="CheckBox Display" [control]="group.controls.chkCtrl"></ngs-checkbox>
  <p>Date Picker</p>
  <ngs-datepicker label="Choose a date" [control]="group.controls.dateCtrl"></ngs-datepicker>
  <p>Slide Toggle</p>
  <ngs-slide-toggle label="Slide me!" ></ngs-slide-toggle>
</div>
