<!--The content below is only a placeholder and can be replaced.-->
<div [class]="theme">
  <mat-card>
    <ngs-dropdown label="Theme" (change)="onChange($event)" [control]="group.controls.dropDownCtrl" [dataSource]="themeList"></ngs-dropdown>

  <p>Group Dropdown</p>
  <ngs-dropdown label="DropDown with Group" [multipleSelection]="true" defaultOption="--None--" [groupOption]="true" [control]="group.controls.dropDownGroupCtrl"
    [dataSource]="dropDownWithGroups"></ngs-dropdown>
  <p>Auto Complete</p>
  <ngs-autocomplete [control]="group.controls.autoCtrl" [template]="template" label="AutoComplete State" [dataSource]="data"
    filterColumnName="name"></ngs-autocomplete>

  <p>TextBox</p>
  <ngs-textbox label="TextBox" [control]="group.controls.textboxCtrl"></ngs-textbox>
  <p>Email</p>
  <ngs-textbox label="Email" [control]="group.controls.emailFormCtrl"></ngs-textbox>
  <p>Telephone</p>
  <ngs-textbox [type]="textBoxType" label="Telephone" [control]="group.controls.telPhoneCtrl" inputPrefix="+91"></ngs-textbox>
  <p> CheckBox</p>
  <ngs-checkbox label="CheckBox Display" [control]="group.controls.chkCtrl"></ngs-checkbox>
  <p>Date Picker</p>
  <ngs-datepicker label="Choose a date" [control]="group.controls.dateCtrl"></ngs-datepicker>
  <p>Slide Toggle</p>
  <ngs-slide-toggle label="Slide me!"></ngs-slide-toggle>
</mat-card>
</div>
