<mat-form-field>
  <input matInput [matDatepickerFilter]="myFilter" [formControl]="control" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
    [placeholder]="getLabel()" (focus)="onFocus()" (blur)="onBlur()">
  <button mat-button *ngIf="showClear" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [touchUi]="touchUi" #picker></mat-datepicker>
</mat-form-field>
